body{
    background: url("../images/bgs/3.jpg") center no-repeat fixed;
    background-size: 100%;
}
legend{
    color: white;
}
.blackCard{
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    color: white;
}
.help-block{
    padding: 0 10px;
    border-radius: 2px;
}
.match{
    box-shadow: 0 0 9px -4px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
}
.match img{

}
.searchPanel{
    box-shadow: 0 0 9px -4px;
    height: 600px;
    width: 270px;
    background: rgba(255, 255, 255, 0.9);
}
.affix{
    position: fixed;
    top : 1px;
}