html{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    background: url("../images/bgs/3.jpg") center no-repeat fixed;
    background-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.blackCard{
    background: rgba(255, 255, 255, 1);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px 0px;
}
.help-block{
    padding: 0 10px;
    border-radius: 2px;
}
.match{
    box-shadow: 0 0 9px -4px;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
}
.match img{

}
.searchPanel{
    box-shadow: 0 0 9px -4px;
    height: 600px;
    width: 270px;
    background: rgba(255, 255, 255, 0.9);
}
.affix{
    position: fixed;
    top : 1px;
}
.dayWeather {
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 0 4px;
    border-radius: 5px;
    float: left;
    background-color: rgba(255, 255, 255, 0.2);
}
.dayWeather:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}