<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>CharEncodingFilter</filter-name>
        <filter-class>filters.CharEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>servlets.SignUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeRencontre</servlet-name>
        <servlet-class>servlets.ListeRencontre</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>OrganiserMatch</servlet-name>
        <servlet-class>servlets.OrganiserMatch</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>servlets.Test</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Weather</servlet-name>
        <servlet-class>servlets.Weather</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailRencontre</servlet-name>
        <servlet-class>servlets.DetailRencontre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StadeCommentSubmit</servlet-name>
        <servlet-class>servlets.StadeCommentSubmit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stades</servlet-name>
        <servlet-class>servlets.Stades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WrapHtml</servlet-name>
        <servlet-class>servlets.WrapHtml</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>servlets.UpdateUser</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
            <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
            <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>UpvoteComment</servlet-name>
        <servlet-class>servlets.UpvoteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpvoteStadium</servlet-name>
        <servlet-class>servlets.UpvoteStadium</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StadeComments</servlet-name>
        <servlet-class>servlets.StadeComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelParticipation</servlet-name>
        <servlet-class>servlets.CancelParticipation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MesRencontre</servlet-name>
        <servlet-class>servlets.MesRencontre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelGame</servlet-name>
        <servlet-class>servlets.CancelGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEnvoiMail</servlet-name>
        <servlet-class>servlets.TestEnvoiMail</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestEnvoiMail</servlet-name>
        <url-pattern>/testEnvoiMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stades</servlet-name>
        <url-pattern>/stades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganiserMatch</servlet-name>
        <url-pattern>/organise</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StadeCommentSubmit</servlet-name>
        <url-pattern>/stadeCommentSubmit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeRencontre</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Weather</servlet-name>
        <url-pattern>/weather</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailRencontre</servlet-name>
        <url-pattern>/detailRencontre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WrapHtml</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpvoteComment</servlet-name>
        <url-pattern>/upvoteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpvoteStadium</servlet-name>
        <url-pattern>/upvoteStadium</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StadeComments</servlet-name>
        <url-pattern>/getComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelParticipation</servlet-name>
        <url-pattern>/cancelParticipation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MesRencontre</servlet-name>
        <url-pattern>/myMatches</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelGame</servlet-name>
        <url-pattern>/cancelGame</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>init.Init</listener-class>
    </listener>
</web-app>